/*Arquivo de estilos responsável por estilizar a DIV que contém as informações "About" do pokemon*/
.content__description-pokemon__about {
    padding: 1rem 0;
}
.content__description-pokemon__about__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}
.content__description-pokemon__about__list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.5rem;
}
.content__description-pokemon__about__list li p:not(.subtitle-stats){
    font-size: 1.1rem;
    width: 30%;
    opacity: 50%;
}
.content__description-pokemon__about__list li span {
    font-size: 1.1rem;
    width: 70%;
    text-transform: capitalize;
}
.subtitle-stats {
    font-size: 1.4rem;
    font-weight: bold;
    opacity: 100%;
    margin: 1rem 0;
}