/*Arquivo de estilos responsável por estilizar a DIV que contém as informações "About" do pokemon*/
.content__description-pokemon__about {
    padding: 1rem 0;
}
.content__description-pokemon__about__list {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    list-style: none;
}
.content__description-pokemon__about__list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.content__description-pokemon__about__list li p:not(.subtitle-stats) {
    font-size: 1.1rem;
    width: 30%;
    opacity: 50%;
}
.content__description-pokemon__about__list li span {
    font-size: 1.1rem;
    width: 70%;
    text-transform: capitalize;
}
.subtitle-stats {
    font-size: 1.4rem;
    font-weight: bold;
    opacity: 100%;
    margin: 1rem 0;
}

/*tratando a aresponsividade para telas de tamanhos variado*/

/*telas de smatphones*/
@media (min-width: 249px) and (max-width: 480px) {
    .content__pokemon__details {
        height: 85%;
    }
}
@media screen and (max-height: 650px) {
    .content-div:not(#evolution){
        overflow: scroll;
    }
    .content__pokemon__details__sprite {
        display: none;
    }

}
/*Telas de computadores ou maiores*/
@media screen and (min-width: 820px) {
    .menu {
        max-width: 820px;
        margin: auto;
        width: 100vw;
    }
    #content {
        border-radius: 0 0 2rem 2rem; 
    }
    .menu, .content__pokemon, .content__description-pokemon, .content__description-pokemon__nav, .content-div{
        padding: 0 4rem;
    }
}
