* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.content__description-pokemon__stats__base-stats__descriptions__skills {
    width: 100%;
}
.content__description-pokemon__stats__base-stats__descriptions__skills__list {
    list-style-type: none;
    padding: 0;

}
.content__description-pokemon__stats__base-stats__descriptions__skills__list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.content__description-pokemon__stats__base-stats__descriptions__skills__list__text {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.content__description-pokemon__stats__base-stats__descriptions__skills__list li .bars {
    display: block;
    position: relative;
    height: 4px;
    width: 65%;
    border-radius: 20px;
    background-color: #dddddd;
    overflow: hidden;
}
.content__description-pokemon__stats__base-stats__descriptions__skills__list li .bars > span {
    position: absolute;
    height: 4px;
    background-color: #00bb00;

}

/*animando barras de skills com Keyframes do CSS*/
.hp {
    width: 45%;
    animation: hp 1s;
}
.attack {
    width: 60%;
    animation: attack 1s;
}
.defense {
    width: 48%;
    animation: defense 1s;
}
.sp-atk {
    width: 65%;
    animation: sp-atk 1s; 
}
.sp-def {
    width: 65%;
    animation: sp-def 1s;
}
.speed {
    width: 45%;
    animation: speed 1s;
}
@keyframes hp {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}
@keyframes attack {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes defense {
    0% {
        width: 0%;
    }
    100% {
        width: 48%;
    }
}
@keyframes sp-atk {
    0% {
        width: 0%;
    }
    100% {
        width: 65;
    }
}
@keyframes sp-def {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@keyframes speed {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}