* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}
body {
    background-color: #f6f8fc;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
    .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
    }
}
.content h1 {
    margin: 0;

        /* referencia visual */
        /* background-color: #ff00ff; */
}