/*============================================================================
  layout global - pagina-about.html 
  ============================================================================*/
.container {
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*============================================================================
  header - menu navegação da página
  ============================================================================*/
.menu {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    padding: .5rem 2rem;
}

.menu__buttons {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__buttons__button {
    background-color: unset;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.2rem;
}


/*============================================================================
  main - informações básicas do pokemon
  ============================================================================*/
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    width: 100vw;
}

/*nome, número, tipo e imagem do pokemon*/
.content__pokemon  {
    height: 40%;
    width: 100%;
}

.content__pokemon__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 2rem 0 2rem;
    list-style: none;
    position: relative;
}

.content__pokemon__details__name {
    width: fit-content;
    font-size: 3rem;
    text-transform: capitalize;
    color: #ffffff;
    font-style: italic;
    animation: animate-text .3s ease-in-out 1 normal forwards;
}

.content__pokemon__details__number {
    text-align: end;
    font-size: 1.2rem;
    color: #ffffff;
    z-index: 2;
    animation: animate-text .3s ease-in-out 1 normal forwards;
}

.content__pokemon__details__types {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    color: #ffffff;
}

.content__pokemon__details__type {
    border-radius:3rem;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem 0.7rem;
    filter: brightness(1.1);
    text-transform: capitalize;
    z-index: 2;
    animation: animate-text .3s ease-in-out 1 normal forwards;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .5);
}

.content__pokemon__details__image {
    display: flex;
    justify-content: center;
}

.content__pokemon__details__sprite {
    max-height: 100%;
    width: 100%;
    padding: 0 2rem;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    animation: animate-image .3s ease-in-out 1 normal forwards;
}

@keyframes animate-image {
    from {
        transform: translateY(+30%);
        opacity: 0;
        filter: blur(2px);
    } 
    to {
        transform: translateY(-40%);
    }
}

/*animação dos textos*/
@keyframes animate-text {
    from {
        transform: translateX(-50%);
        opacity: 0;
        filter: blur(2px);
    }
    to {
        transform: translateX(0%);
    }
}
/*fim animação dos textos*/
/*fim nome, número, tipo e imagem do pokemon*/


/*============================================================================
  main - estatisticas do pokemon
  ============================================================================*/
.content__description-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-height: 0;
    width: auto;
    margin: 1.5rem 2rem 0 2rem;
    background-color: #faf8fc;
    border-radius: .5rem;    
    padding: 0.5rem .5rem .5rem .5rem;
    position: relative;
}

/*barra de navegação das estatísticas*/
.content__description-pokemon__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;
    width: 100%;
}

.content__description-pokemon__nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    cursor:pointer;
}

.link-active { 
    border-bottom: 0.1rem #0000ff solid;
    padding-bottom: 0.5rem;
    width: 25%;    
}

.link-inactive { 
    border-bottom: 0.1rem #aaaaaa solid;
    padding-bottom: .5rem;
    width: 25%;
    opacity: 50%;
}
/*fim barra de navegação das estatísticas*/


/*classe responsável por esconder estatiscas que não estão selecionadas*/
.hidden { 
    display: none;
}





footer {
    height: 2rem;
    width: 100%;
}



/*============================================================================
  backgound color por tipo de pokemon
  ============================================================================*/
.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}




/* @media screen and (max-height: 600px) {

    .content__pokemon__details__sprite__image {
        display: none;
    }
}
@media screen and (min-width: 820px) {
     header {
        max-width: 820px;
        margin: 0 auto;
        border-radius: 1rem;
    }
    .menu__buttons {
        padding: 0 4rem;
    }
    .content__pokemon__details__selected {
        padding: 0 2rem;
    }
    .content__description-pokemon__stats__nav {
        padding: 0 2rem;
    }
    .content__description-pokemon__stats__about {
        padding: 0 2rem;
    }
    .content__description-pokemon__stats__base-stats__descriptions__skills {
        padding: 0 2rem;
    }
    .content__description-pokemon__stats__base-stats__observation {
        padding: 0 2rem;
    }
    .content__pokemon__details__sprite {
        height: 70%;
        width: 70%;
        display: flex;
        justify-content: center;
    }
} */
