/*============================================================================
  layout global - pagina-about.html 
  ============================================================================*/
.container {
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*============================================================================
  header - menu navegação da página
  ============================================================================*/
.menu {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    padding: .5rem 2rem;
}

.menu__buttons {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__buttons__button {
    background-color: unset;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.2rem;
}


/*============================================================================
  main - informações básicas do pokemon
  ============================================================================*/
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    width: 100vw;
}

/*nome, número, tipo e imagem do pokemon*/
.content__pokemon  {
    height: 40%;
    width: 100%;
}

.content__pokemon__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 2rem 0 2rem;
    list-style: none;
    position: relative;
}

.content__pokemon__details__name {
    width: fit-content;
    font-size: 3rem;
    text-transform: capitalize;
    color: #ffffff;
    font-style: italic;
    animation: animate-text .3s ease-in-out 1 normal forwards;
}

.content__pokemon__details__number {
    text-align: end;
    font-size: 1.2rem;
    color: #ffffff;
    z-index: 2;
    animation: animate-text .3s ease-in-out 1 normal forwards;
}

.content__pokemon__details__types {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    color: #ffffff;
}

.content__pokemon__details__type {
    border-radius:3rem;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem 0.7rem;
    filter: brightness(1.1);
    text-transform: capitalize;
    z-index: 2;
    animation: animate-text .3s ease-in-out 1 normal forwards;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .5);
}

.content__pokemon__details__image {
    display: flex;
    justify-content: center;
}

.content__pokemon__details__sprite {
    max-height: 100%;
    width: 100%;
    padding: 0 2rem;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    animation: animate-image .3s ease-in-out 1 normal forwards;
}

@keyframes animate-image {
    from {
        transform: translateY(+30%);
        opacity: 0;
        filter: blur(2px);
    } 
    to {
        transform: translateY(-40%);
    }
}

@keyframes animate-text {
    from {
        transform: translateX(-50%);
        opacity: 0;
        filter: blur(2px);
    }
    to {
        transform: translateX(0%);
    }
}


/*============================================================================
  main - estatisticas do pokemon
  ============================================================================*/
.content__description-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-height: 0;
    width: auto;
    margin: 1.5rem 2rem 0 2rem;
    background-color: #faf8fc;
    border-radius: .5rem;    
    padding: 0.5rem .5rem .5rem .5rem;
    position: relative;
}

/*menu navegação*/
.content__description-pokemon__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1.5rem;
    width: 100%;
    margin-top: .7rem;
}

.content__description-pokemon__nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    cursor:pointer;
}

.link-active { 
    border-bottom: 0.1rem #0000ff solid;
    padding-bottom: 0.5rem;
    width: 25%;    
}

.link-inactive { 
    border-bottom: 0.1rem #aaaaaa solid;
    padding-bottom: .5rem;
    width: 25%;
    opacity: 50%;
}
/*fim menu navegação*/


/*configuração global das DIVs das estatísticas*/
.hidden { 
    display: none;
}

.content-div:not(.hidden) {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.content-div:not(.content__description-pokemon__evolution ) {
    overflow: scroll;
    border-radius: .5rem;
    background-color: #F0F2F5;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 100%;
}

.content-div ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.content-div ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.content-div ul li > p:not(.subtitle-stats) {
    width: 30%;
    opacity: 50%;
    font-size: 1.1rem;
}

.content-div ul li > span {
    width: 70%;
    text-transform: capitalize;
    font-size: 1.1rem;
}

.subtitle-stats {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0;
}
/*fim configuração global das DIVs das estatísticas*/



/*============================================================================
  About - estatísticas
  ============================================================================*/
.content__description-pokemon__about {
    padding: .5rem;
}




/*============================================================================
  Base Stats - estatísticas
  ============================================================================*/
.content__description-pokemon__base-stats {
    padding: .2rem;
}

.content__description-pokemon__base-stats__skills__list__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    width: 30%;
}

.content__description-pokemon__base-stats__skills__list__text > p {
    opacity: 50%;
    font-size: .95rem;

}
.content__description-pokemon__base-stats__skills__list__text > span {
    font-size: .9rem;
}

.bars-green {
    display: block;
    position: relative;
    height: 0.25rem;
    width: 65%;
    border-radius: 1rem;
    background-color: #dddddd;
    overflow: hidden;
}

.bars-green > span {
    position: absolute;
    height: 0.25rem;
    background-color: #00bb00;
}

.bars-red {
    display: block;
    position: relative;
    height: 0.25rem;
    width: 65%;
    border-radius: 1rem;
    background-color: #dddddd;
    overflow: hidden;
}

.bars-red > span {
    display: block;
    position: absolute;
    height: 0.25rem;
    background-color: #ee0000;
}

.content__description-pokemon__base-stats__observation {
    display: flex;
    flex-direction: column;   
}

.content__description-pokemon__base-stats__observation p {
    font-size: 0.9rem;
    opacity: 50%;
    margin-top: 0.7rem;
}

/*============================================================================
  main - evoluções pokemon
  ============================================================================*/
.content__description-pokemon__evolution {
    height: 100%;
    overflow: scroll;
    
}


.content__description-pokemon__evolution__subtitle {
    margin: .4rem 0;
}

.content__description-pokemon__evolution__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: .5rem;
    background-color: #F0F2F5;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
}

.content__description-pokemon__evolution__container__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin-top:1rem;
}

.evolution-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.evolution-img:hover {
    transform: scale(1.1);
    filter: drop-shadown(0.8rem 1rem 0.4rem rgba(0, 0, 0, 0.5));
}

#evolution-seta > span:nth-child(1) {
    font-size: 2rem;
}

#evolution-seta > span:nth-child(2) {
    font-size: 1rem;
}



/*============================================================================
  main - moves
  ============================================================================*/
.content__description-pokemon__moves {

}

.content__description-pokemon__moves > p{
    margin: 1rem 0 1.5rem .4rem;
}

.content__description-pokemon__moves__list {
    margin: 0 .2rem .4rem .4rem;

}

#moves-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#moves-list li > p {
    font-size: 1rem;
    text-transform: capitalize;
}

#moves-list li span {
    width: 65%;
    font-size: .9rem;
}




footer {
    height: 2rem;
    width: 100%;
}



/*============================================================================
  backgound color por tipo de pokemon
  ============================================================================*/
.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}
